:root {
  --amplify-primary-color: #ff6347;
  --amplify-primary-tint: #ff7359;
  --amplify-primary-shade: #e0573e;
}

amplify-authenticator {
  --container-height: 0;
  --background-color: aqua;
  --margin-bottom: 0;
}
